@charset "utf-8";
/* CSS Document */
body{
	margin: 50px;
	font-family:Arial, sans-serif;
}
ol{
	list-style-type:upper-alpha;
	}
.tablica1{
	width:700px;
	border:4px dashed black;
	border-radius:10px;
	background-color:rgba(167, 199, 231,0.8);
}
td, th{
	border: 1px solid black;
}
li{
  background-color:rgba(224, 176, 255, 0.9);
  width: 100px;
  margin: 4px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  }
li:hover {
  background-color: rgba(255, 255, 255, 0.6);
  }
h1{
	  font-size: 16px;
	  padding: 10px;
  }
form{
	width:700px;
	background-color: rgb(255, 255, 255);
	border:2px dashed black;
	border-radius:10px;
	padding: 20px;
}
input {
	background-color:hsla(61, 88%, 74%, 0.9);
	width: 95%;
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
}
input:focus {
  background-color: rgba(255, 250, 205, 0.8);
}
label{
	margin:10px;
	font-weight:bold;
}
input[type="radio"],
input[type="checkbox"]{
	width: 50px;
	height: 25px;
	margin-left: 80px;
}
fieldset{
	width:50%;
	margin:15px;
	background:hsla(61, 88%, 74%, 0.9);
	border-radius:0px 50px 50px 50px;
	font-size:25px;
}
input[type="color"]{
	height: 40px;
}
input[type="reset"],
input[type="submit"]{
	width:100px;
	margin-left:110px;
	border-radius:5px;
	box-shadow:2px 2px 2px gray;
	cursor:pointer;
}
.tablica2{
	width:100%;
	height:400px;
	background-color:white;
	border-radius:200px 0px 0px 0px;
	border:2px dashed black; 
	border-radius: 200px;
	border-bottom-left-radius: 0px;
}
td{
	width:25%;
}
#plavi_stupac{
	background:hsla(237, 46%, 38%, 0.5);
}
#zeleni_stupac{
	background:hsla(116, 95%, 75%, 0.5);
}

#žuti_dio{
	background:hsla(64, 100%, 62%, 0.5);
	border-top-left-radius: 200px;
}
p {
    font-style: italic;
    text-align: justify;
    width: 95%;
	font-size: 16px;
	padding: 10px;
	margin: 10px;
}
